@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

.weather-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cinzel', serif;
  background: rgb(26,20,128);
  background: linear-gradient(90deg, rgba(26,20,128,0.8407738095238095) 0%, rgba(0,212,255,1) 100%);
}

.weather-title {
  font-size: 32px;
  text-align: center;
  color: rgb(44, 44, 44);
  margin: 30px;
  text-shadow: 1px 1px 2px #dadcdd;
}

.city-input {
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(182, 175, 175);
  border-radius: 15px;
}

.input-btn {
  cursor: pointer;
  background-color: #1b4863;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-left: 3px;
}

.current-n-tommorrow-day {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  gap: 15px;
  color: #cfd5d8;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 7px;
  margin-right: 7px;
}

.current-day, .tomorrow-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b47639a;
  padding: 10px;
  padding-left: 40%;
  padding-right: 40%;
  border-radius: 25px;
  font-size: 14px;
  line-height: 25px;
  height: 80vh;
}

@media screen and (max-height: 540px) {
  .current-day, .tomorrow-day {
    height: calc(100vh + 50px);
  }
}

@media screen and (min-height: 844px) {
  .current-day, .tomorrow-day {
    height: 67vh;
    line-height: 33px;
  }
}

@media screen and (max-width: 1023px) {
  .current-day, .tomorrow-day {
    padding-left: 9%;
    padding-right: 9%;
    font-size: 11px;
  }
  .current-n-tommorrow-day {
    margin-left: 2px;
    margin-right: 2px;
    gap: 3px;
  }
  .more-info {
    padding: 20px;
  }
}

.current-day-title, .tomorrow-day-title {
  margin-bottom: 30px;
  color: hsl(202, 12%, 73%);
  font-size: 19px;
}

.more-info-title {
  font-size: 26px;
  text-align: center;
  color: rgb(44, 44, 44);
  margin: 30px;
  text-shadow: 1px 1px 2px #dadcdd;
}

.outside-icons {
  width: 30px;
  height: 30px;
}

.more-info {
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: center;
  margin-top: 25px;
  color: #cfd5d8;
  border-radius: 25px;
  font-size: 16px;
  background-color: #1b47639a;
  margin-bottom: 30px;
  line-height: 60px;
}

.info-value {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}