@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

.weather-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cinzel', serif;
  background: rgb(26,20,128);
  background: linear-gradient(90deg, rgba(26,20,128,0.8407738095238095) 0%, rgba(0,212,255,1) 100%);
}

.weather-title {
  font-size: 32px;
  text-align: center;
  color: rgb(44, 44, 44);
  margin: 30px;
  text-shadow: 1px 1px 2px #d0d2d3;
}

.city-input {
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(182, 175, 175);
  border-radius: 15px;
}

.input-btn {
  cursor: pointer;
  background-color: #1b4863;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-left: 3px;
}

.current-day-title, .tomorrow-day-title {
  margin-top: 30px;
  font-size: 26px;
  text-align: center;
  color: rgb(44, 44, 44);
  text-shadow: 1px 1px 2px #d0d2d3;
}

.current-day, .tomorrow-day {
  background-color: #1b47639a;
  margin: 30px;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  width: 520px;
  color: rgb(204, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.local-today {
  font-size: 22px;
}

.current-day > img {
  width: 100px;
  height: 100px;
}

.current-temperature, .tomorrow-temp {
  font-size: 24px;
}

.tomorrow-day > img {
  width: 100px;
  height: 100px;
}

.more-info-title {
  font-size: 26px;
  text-align: center;
  color: rgb(44, 44, 44);
  margin: 30px;
  text-shadow: 1px 1px 2px #d0d2d3;
}

.outside-icons {
  width: 30px;
  height: 30px;
}

.more-info {
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: center;
  margin-top: 25px;
  color: #cfd5d8;
  border-radius: 25px;
  font-size: 16px;
  background-color: #1b47639a;
  margin-bottom: 30px;
  line-height: 60px;
}

.info-value {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 512px) {
  .current-day, .tomorrow-day {
    width: 280px;
  }
  .local-today {
    font-size: 20px;
  }
  .more-info {
    padding: 30px;
  }
}